html {
	background: #fff;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
}

pre {
	white-space: pre-wrap;
}

.map {
	display: grid;
	justify-content: center;
	text-align: center;
	background: #000;
	color: #FFF;
	padding: 1rem;
	pointer-events: none;
	user-select: none;
}

.map label {
	pointer-events: initial;
	cursor: pointer;
}

.subgrid {
	display: grid;
}

.subgrid > *,
.map > * {
	width: 100%;
	height: 100%;
	background: inherit;
	flex: none;
}

/* visually hidden */
nav {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }
  