html {
	background: #fff;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

pre {
	white-space: pre-wrap;
}

.map {
	display: grid;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.map > * {
	width: 100%;
	height: 100%;
	background: #FFF;
	text-align: center;
}

/* visually hidden */
nav {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
  }
  