html {
	background: #fff;
	color: #000;
	font-family: 'Courier New', Courier, monospace;
	min-height: 100vh;
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

pre {
	white-space: pre-wrap;
}

.map {
	display: grid;
	justify-content: center;
	align-content: center;
	text-align: center;
	background: #000;
	color: rgba(255, 255, 255, 0.6);
	padding: 1rem;
	pointer-events: none;
	user-select: none;
	min-height: 100vh;
}

.map label {
	pointer-events: initial;
	cursor: pointer;
	transition: color 0.2s ease-out;
}

.map label:hover {
	color: rgba(255, 255, 255, 0.9);
}

.subgrid {
	display: grid;
}

.subgrid>*,
.map>* {
	width: 100%;
	height: 100%;
	background: inherit;
	flex: none;
}

/* visually hidden */
nav {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
